@model Answer
@{
    ViewData["Title"] = "CreateAnswer";
}

<div class = "container">
            <h5>Your Answer</h5>
            <div>
                <form method = "post">
                    <div class = "form-group">
                        <input asp-for="Question.Id" hidden/>
                    </div>
                     <div class = "form-group">
                        <textarea rows="10" asp-for="AnswerBody" class = "form-control"></textarea>
                        <span asp-validation-for="AnswerBody" class = "text-danger"></span>
                    </div>
                    <input type = "submit" class= "btn btn-primary "value="Post Your Answer" />
                <a asp-controller = "Home" asp-action="Index" class = "btn btn-primary ">
                Go Back
            </a>
                </form>
            </div>
            <div>
                
        
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
